body {
  background-color: #403060;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.watch {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  width: 200px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 30px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.watch div {
  height: 90px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #502F49;
  background:rgba(255, 255, 255, 0.61);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.watch span {
  font-weight: bold;
  font-size: 20px;
}

.watch span.time {
  font-size: 12px;
}

@media (max-width: 200px) {
  body {

  }
  .watch {
    height: 75px;
    width: 200px;
  }
  .watch div {
    height: 140px;
    width: 100px;
  }
  .watch span {
    font-size: 12px;
  }

  .watch span.time {
    font-size: 10px;
  }
}
